#about{
    font-family: 'Nunito';
    font-weight: 530;
}

.time-line-link, .time-line-link:hover, .time-line-link:active{
    color: white;
    font-weight: 650;
}

.timeline-link, .timeline-link:hover, .timeline-link:active{
    color: #413e4b;
    font-weight: 650;
}

.timeline-style{
    font-family: 'Nunito';
    color: #63616b;
}

.card-look{
    border-radius: 3%;
    enable-background: white;
    box-shadow: 0px 0px 13px 5px #d8dae244;
}

.img-width{
    width: 100px;
}

.education-card{
    /* width: 25rem; */
    padding: 1rem;
    border-radius: 13px;
    font-family: 'Nunito', 'Roboto', 'Apple';
    color: #63616b;
    margin: 0px;
}

.skills{
    background-color: rgb(39, 53, 83);
}

.image-skills{
    width: 100px;
    height: 100px;
}

.principal-title{
    font-family: "Nunito";
    font-weight: 650;
}