/* * {
    font-family: 'Karla';
    font-size: 23px;

} */

a.nav-link{
    font-size: 18px;
}

a.nav-link:hover, a.nav-link:active, a.nav-link:focus{
    transition: all 0.4s;
    color: #BA1A1D !important;
    background-color: rgba(134, 118, 118, 0.06) ;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
}
/* 
Link{
    font-size: 18px;
}

Link:hover, Link:active{
    color: #BA1A1D !important;
    background-color: rgba(134, 118, 118, 0.06) ;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    padding: 0%;
} */

#navbar{
    transition: all 0.4s;
    box-shadow: 0px 5px 14px 0px rgba(134, 118, 118, 0.12);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#basic-navbar-nav{
    justify-content:flex-end;
}

.nav-menu{
    margin-right: 70px;
}

.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
}

@media(min-width: 768px){
    span.navbar-brand{
        width: 85px;
        height: 60px;
    }

    span.navbar-brand .nav-link{
        padding: 0%;
    }
}

@media(max-width: 767px){
    span.navbar-brand{
        width: 70px;
        height: auto;
    }

    span.navbar-brand .nav-link{
        padding: 0%;
    }

    a.nav-link.active, a.nav-link:hover{
        padding-left: 6px;
    }
}

/* .container{
    display: flex;
    margin: 0px;
    padding: 0px;
} */